<h1>Portfolios</h1>
<p>These are the list of ListPortfolioResponse in the database</p>
<table *ngIf="listPortfolioResponse" class="table table-hover">
  <thead>
  <th>Name</th>
  <th>Created</th>
  <th>Version</th>
  </thead>
  <tr *ngFor="let portfolio of listPortfolioResponse.items">
    <td>
      <a *ngIf="portfolio">{{ portfolio.name }}</a>
    </td>
    <td>
      <a *ngIf="portfolio">{{ portfolio.created }}</a>
    </td>
    <td>
      <a *ngIf="portfolio">{{ portfolio.version }}</a>
    </td>
  </tr>
</table>

<button (click)="onColorMe()">Color Me</button>
<button (click)="onGetExcelVersion()">GetExcel Version</button>
