<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" dropdown>
        <button *ngIf="isLoggedIn()" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Menu <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let route of navRoutes">
            <a class="dropdown-item" [routerLink]="[route.path]">{{route.title}}</a>
          </li>
        </ul>
      </div>
      <!-- SPA pages outlet -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

