<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<body class="ms-Fabric">
  
<span class="ms-font-su ms-fontColor-themePrimary">Primary Clour</span>
<span class="ms-font-su ms-fontColor-themeTertiary">Tertiary Colour</span>
<p class="ms-font-su">Paragraqph</p>

<p>Breadcrumbs</p>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>

<p>Basic list</p>
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>
<div class="well well-lg">
  Hello world!
</div>
<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button dropdown <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>
</body>


