<h1>Home</h1>
<div *ngIf="LoggedIn">
  <h2>Logged In.</h2>
  <!--<button (click)="logout()">Logout</button> -->
</div>

<div *ngIf="!LoggedIn">
  <!-- <button (click)="login()">Login</button> -->
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-horizontal">
      <hr />
      <div class="form-group">
        <label class="control-label col-md-2">User name</label>
        <div class="col-md-10">
          <input type="text" name="username" class="form-control" formControlName="username" />
        </div>
      </div>
      <div *ngIf="form.controls.username.errors?.pattern">
        nope
        <!--<alert type="warning">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </alert>-->
      </div>
      <div class="form-group">
        <label class="control-label col-md-2">Password</label>
        <div class="col-md-10">
          <input type="password" name="password" class="form-control" formControlName="password" />
        </div>
      </div>
      <div *ngIf="form.controls.password.errors?.pattern">
        <!--<alert type="warning">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </alert>-->
        nope
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Login" class="btn btn-default" [disabled]="!form.valid" />
        </div>
      </div>
    </div>
  </form>
</div>


