<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<body class="ms-Fabric">
  <span class="ms-font-su ms-fontColor-themeTertiary">Home</span>
  <p>Welcome to the Excel WebApi Plugin</p>

  <h1 class="ms-font-su">Why, hello, world.</h1>

  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             class="form-control"
             [minDate]="minDate"
             [maxDate]="maxDate"
             #dp="bsDatepicker"
             bsDatepicker [(bsValue)]="bsValue">
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <button class="btn btn-success" (click)="dp.toggle()">Date Picker</button>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <button class="btn btn-success" (click)="drp.toggle()">Date Range Picker</button>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item">Dapibus ac facilisis in</li>


    <li class="list-group-item list-group-item-primary">This is a primary list group item</li>
    <li class="list-group-item list-group-item-secondary">This is a secondary list group item</li>
    <li class="list-group-item list-group-item-success">This is a success list group item</li>
    <li class="list-group-item list-group-item-danger">This is a danger list group item</li>
    <li class="list-group-item list-group-item-warning">This is a warning list group item</li>
    <li class="list-group-item list-group-item-info">This is a info list group item</li>
    <li class="list-group-item list-group-item-light">This is a light list group item</li>
    <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
  </ul>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <button type="button" class="btn btn-primary">
    Notifications <span class="badge badge-light">4</span>
  </button>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>

  <div class="ms-Breadcrumb">
    <div class="ms-Breadcrumb-overflow">
      <div class="ms-Breadcrumb-overflowButton ms-Icon ms-Icon--More"></div>
      <div class="ms-Breadcrumb-overflowMenu">
        <ul class="ms-ContextualMenu is-open"></ul>
      </div>
    </div>
    <ul class="ms-Breadcrumb-list">
      <li class="ms-Breadcrumb-listItem">
        <a class="ms-Breadcrumb-itemLink">Files</a>
        <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
      </li>
      <li class="ms-Breadcrumb-listItem">
        <a class="ms-Breadcrumb-itemLink">Folder 1</a>
        <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
      </li>
      <li class="ms-Breadcrumb-listItem">
        <a class="ms-Breadcrumb-itemLink">Folder 2</a>
        <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
      </li>
      <li class="ms-Breadcrumb-listItem">
        <a class="ms-Breadcrumb-itemLink">Folder 3</a>
        <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
      </li>
      <li class="ms-Breadcrumb-listItem">
        <a class="ms-Breadcrumb-itemLink">Folder 4</a>
        <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
      </li>
      <li class="ms-Breadcrumb-listItem">
        <a class="ms-Breadcrumb-itemLink">Folder 5</a>
        <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
      </li>
      <li class="ms-Breadcrumb-listItem">
        <a class="ms-Breadcrumb-itemLink">Folder 6</a>
        <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
      </li>
      <li class="ms-Breadcrumb-listItem">
        <a class="ms-Breadcrumb-itemLink">Folder 7</a>
        <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
      </li>
    </ul>
  </div>

  <div class="alert alert-success" role="alert">
    <strong>Well done!</strong> You successfully read this important alert message.
  </div>
  <div class="alert alert-info" role="alert">
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
  </div>
  <div class="alert alert-warning" role="alert">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </div>
  <div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div>

  <div *ngIf="LoggedIn">
    <h2>Logged In.</h2>
    <!--<button (click)="logout()">Logout</button> -->
  </div>

  <div *ngIf="!LoggedIn">

    <!-- <button (click)="login()">Login</button> -->
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="form-horizontal">
        <hr />
        <div class="form-group">
          <label class="control-label col-md-2">User name</label>
          <div class="col-md-10">
            <input type="text" name="username" class="form-control" formControlName="username" />
          </div>
        </div>
        <div *ngIf="form.controls.username.errors?.pattern">
          nope
          <!--<alert type="warning">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
          </alert>-->
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Password</label>
          <div class="col-md-10">
            <input type="password" name="password" class="form-control" formControlName="password" />
          </div>
        </div>
        <div *ngIf="form.controls.password.errors?.pattern">
          <!--<alert type="warning">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
          </alert>-->
          nope
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" [disabled]="!form.valid" />
          </div>
        </div>
      </div>
    </form>
  </div>
</body>


