<div class="container-fluid">
<div class="row">
  <div class="col-xs-12">
    <p class="text-center"><a (click)="sync()">Sync</a></p>
    <p><strong>Total: {{ holdings.length }}</strong></p>
    <p class="text-center"> <a [routerLink]="['/PortfolioDetails', portfolioId]">back to portfolio</a></p>
      <div class="list-group">
        <a *ngFor="let holding of holdings" href="#" class="list-group-item">
          {{holding.units}} units @ {{holding.cost}} against securityUid: {{holding.securityUid}}

        </a>
      </div>
</div>
</div>
</div>
