<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="portfolioDetail">
        <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Portfolio '{{name}}' Details</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              Portfolio detail href: <a href="{{portfolioDetail.href}}">Url</a>
            </li>
            <li class="list-group-item">
              Origin portfolio Id: {{portfolioDetail.originPortfolioId.code}}
            </li>
            <li class="list-group-item">
              Base Currency: {{portfolioDetail.baseCurrency}}
            </li>
            <li class="list-group-item">
              Version: [ExistsFrom]: {{portfolioDetail.version.effectiveFrom}} [StoredAt]: {{portfolioDetail.version.asAtDate}}
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/Trades', portfolioDetail.originPortfolioId.code]">View Portfolio Trades</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/Holdings', portfolioDetail.originPortfolioId.code]">View Portfolio Holdings</a>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<pre>{{ errorMessage | json }} </pre>
