<h1>Portfolios</h1>
<p>Portfolios represent your holdings, trades and securities</p>
<p>
  <a [routerLink]="['/NewInvestmentWizard']" class="btn">Create Investment</a>
  <a (click)="sync()" class="btn btn-primary">Syncronize</a>
</p>
<table *ngIf="listPortfolioResponse" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Id</th>
      <th>referencePortfolioId</th>
      <th>referenceScope</th>
      <th></th> <!--Delete -->
    </tr>
  </thead>
  <tr *ngFor="let portfolio of listPortfolioResponse?.items">
    <td>
      <strong><a *ngIf="portfolio" [routerLink]="['/InvestmentDetails', portfolio.id]">{{ portfolio.name }}</a></strong>
    </td>
    <td>{{portfolio.created}}</td>
    <td>{{portfolio.id}}</td>
    <td>{{portfolio.referencePortfolioId}}</td>
    <td>{{portfolio.referenceScope}}</td>
    <td><a (click)="delete(portfolio.id)" href="javascript:void(0)">Delete portfolio</a></td>
  </tr>
</table>
<p>Total: {{listPortfolioResponse?.items.length}}</p>
