<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <progressbar class="progress-striped active" *ngIf="!isPageComplete" [value]="100"><i>Loading...</i></progressbar>
      <!-- List of portfolios -->
      <div class="panel-body" *ngIf="isPageComplete">
          <div class="list-group">
            <a *ngFor="let portfolio of listPortfolioResponse?.items" class="list-group-item" [routerLink]="['PortfolioDetails', portfolio.id]">
              <h4 class="list-group-item-heading">{{ portfolio.name }}</h4>
              <p class="list-group-item-text">{{ portfolio.created }} / {{portfolio.id}}</p>
            </a>
          </div>
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              Actions <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a [routerLink]="['/NewInvestmentWizard']" class="dropdown-item">Create Investment</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem">
                <a (click)="sync()" class="dropdown-item">Syncronize</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>

